<div class="container">
  <div class="icon">
    <img alt="green quest icon" src="favicon.ico">
  </div>
  <div class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <h1 tabindex="0">Connexion</h1>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Pseudo</mat-label>
          <input formControlName="username" matInput required/>
          <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
            Le pseudo est requis.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Mot de passe</mat-label>
          <input formControlName="password" matInput required type="password"/>
          <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Le mot de passe est requis.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <button [disabled]="loginForm.invalid" color="success" mat-raised-button type="submit">Connexion</button>
      </div>
    </form>
    <div class="error-message-container">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
    <div class="connexion-link">
      <p tabindex="0">Pas encore inscrit ?</p>
      <div tabindex="0">
        <a [routerLink]="['/register']" title="S'inscrire">
          S'inscrire
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
