<div class="container">
  <div class="content">
    <div tabindex="0" class="icon">
      <a mat-button color="warn" title="Accueil" [routerLink]="['/accueil']" class="link-home">
        <img src="favicon.ico" alt="green quest icon">
      </a>
    </div>
    <mat-divider class="custom-divider" vertical></mat-divider>
    <div class="btn-content">
      <button mat-raised-button color="warn" title="Tous les défis" [routerLink]="['/défis']">
        <mat-icon>list</mat-icon>
      </button>
      <button mat-raised-button color="warn" title="Mes défis" [routerLink]="['/progression']">
        <mat-icon>checklist</mat-icon>
      </button>
      <button mat-raised-button color="warn" title="Progression" [routerLink]="['/progression']">
        <mat-icon>bar_chart</mat-icon>
      </button>
      <button mat-raised-button color="warn" title="En savoir plus" [routerLink]="['/apprendre']">
        <mat-icon>school</mat-icon>
      </button>
      <button mat-raised-button color="warn" title="Profil" [routerLink]="['/profil']">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-raised-button color="warn" title="Se déconnecter" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>
