a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px 30px;
  font-size: 22pt;
  color: white!important;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px 10px;
  background-color: rgba(49, 87, 44, 0.75);
  padding: 10px 0 10px 10px;
  margin : 10px 10px 10px 10px;
  border-radius: 50px;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 50px;
  //background-color: inherit;
  padding-right: 10px;
}

.custom-divider {
  border-color: black !important;
  height: 50px;
  opacity: 0;
}
