<div class="container">
  <div class="content">
    <div class="icon" tabindex="0">
      <img alt="green quest icon" src="favicon.ico">
    </div>
    <mat-divider class="custom-divider" vertical></mat-divider>
    <div class="btn-content">
      <button [routerLink]="['/défis']" color="warn" mat-raised-button title="Tous les défis">
        <mat-icon>list</mat-icon>
      </button>
      <button [routerLink]="['/progression']" color="warn" mat-raised-button title="Mes défis">
        <mat-icon>checklist</mat-icon>
      </button>
      <button [routerLink]="['/paramètres']" color="warn" mat-raised-button title="Paramètres">
        <mat-icon>settings</mat-icon>
      </button>
      <button [routerLink]="['/articles']" color="warn" mat-raised-button title="Articles">
        <mat-icon>feed</mat-icon>
      </button>
      <button [routerLink]="['/statistiques']" color="warn" mat-raised-button title="Statistiques">
        <mat-icon>bar_chart</mat-icon>
      </button>
      <button (click)="logout()" color="warn" mat-raised-button title="Se déconnecter">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>
