<app-nav-bar></app-nav-bar>
<div class="container">

  <h1>Liste de défis</h1>

  <mat-chip-listbox
    (ngModelChange)="onCategorySelectionChange($event)"
    [(ngModel)]="selectedCategories"
    aria-label="Catégories"
    multiple>

    <mat-chip-option
      *ngFor="let category of categories"
      [value]="category.value">
      {{ category.value | translateCategory}}
    </mat-chip-option>
  </mat-chip-listbox>

  <div *ngIf="challenges.length > 0; else noChallenges" class="content">
    <mat-card *ngFor="let challenge of challenges" appearance="raised">
      <mat-card-header>
        <h1>{{challenge.name}}</h1>
      </mat-card-header>
      <mat-card-content>
        <div>
          <h4>Catégorie : {{challenge.category | translateCategory}}</h4>
        </div>
        <div>
          {{challenge.description}}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          (click)="$event.stopPropagation(); openDetails(challenge.id)"
          aria-label="Voir détails"
          color="primary"
          mat-raised-button
          title="Voir détails">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <ng-template #noChallenges>
      <p>{{notFoundMessage}}</p>
    </ng-template>
  </div>
</div>
