.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  background-color: rgba(49, 87, 44, 0.75);
  border-radius: 50px;
  gap: 10px;
  margin: 10px auto;
  max-width: 800px;
  width: 100%;
}

.content{
  background-color: aliceblue;
  padding: 5px 0 5px 0;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 10px;
  border-radius: 30px;
}

button{
  height: 70px;
  width: 200px;
  border-radius: 30px;
  font-size: 16pt;
}

@media (max-width: 768px) {
  .container {
    max-width: 95%;
    border-radius: 20px;
    margin: 10px auto;
  }
}
